repo/cdb-wsclient/trunk/src/main/wsdl/CdbService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="WSCitation"
        targetNamespace="http://uk.ac.ebi.cdb.webservice/WSCitation.wsdl"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:tns="http://uk.ac.ebi.cdb.webservice/WSCitation.wsdl"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema"
        xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:xsd1="http://uk.ac.ebi.cdb.webservice/WSCitation.xsd" >

  <documentation>
  WSDL for Service: WSCitation, generated by Oracle WSDL toolkit (version: 1.1)
  </documentation>

  <types>
    <schema targetNamespace="http://uk.ac.ebi.cdb.webservice/WSCitation.xsd" xmlns:tns="http://uk.ac.ebi.cdb.webservice/WSCitation.xsd" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:java="http://xmlns.oracle.com/2001/XMLSchema/Java" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
      <complexType name="uk_ac_ebi_cdb_bean_Keyword">
        <all>
          <element name="id" type="xsd:double"/>
          <element name="keyword" type="xsd:string"/>
        </all>
      </complexType>
      <complexType name="uk_ac_ebi_cdb_bean_Citation">
        <all>
          <element name="abstractText" type="xsd:string"/>
          <element name="affiliation" type="xsd:string"/>
          <element name="authorCollection" type="java:java.util.Vector"/>
          <element name="chemicalCollection" type="java:java.util.Vector"/>
          <element name="concatenatedAuthorsCollection" type="java:java.util.Vector"/>
          <element name="crossReferenceAltSpliceFunCollection" type="java:java.util.Vector"/>
          <element name="crossReferenceAltSpliceSeqCollection" type="java:java.util.Vector"/>
          <element name="crossReferenceEMBLCollection" type="java:java.util.Vector"/>
          <element name="crossReferenceInterproCollection" type="java:java.util.Vector"/>
          <element name="crossReferenceUniprotCollection" type="java:java.util.Vector"/>
          <element name="dataSource" type="xsd:string"/>
          <element name="dateOfCompletion" type="xsd:date"/>
          <element name="dateOfCreation" type="xsd:date"/>
          <element name="dateOfRevision" type="xsd:date"/>
          <element name="externalId" type="xsd:string"/>
          <element name="id" type="xsd:double"/>
          <element name="journalIssue" type="tns:uk_ac_ebi_cdb_bean_JournalIssue"/>
          <element name="keywordCollection" type="java:java.util.Vector"/>
          <element name="language" type="xsd:string"/>
          <element name="medlineXML" type="tns:uk_ac_ebi_cdb_bean_MedlineXml"/>
          <element name="meshCollection" type="java:java.util.Vector"/>
          <element name="pageInfo" type="xsd:string"/>
          <element name="patentAbstractXML" type="tns:uk_ac_ebi_cdb_bean_PatentAbstractXml"/>
          <element name="patentDetails" type="tns:uk_ac_ebi_cdb_bean_PatentDetails"/>
          <element name="pubModel" type="xsd:string"/>
          <element name="pubTypeCollection" type="java:java.util.Vector"/>
          <element name="subsetCollection" type="java:java.util.Vector"/>
          <element name="title" type="xsd:string"/>
          <element name="titleNonAscii" type="xsd:string"/>
          <element name="urlCollection" type="java:java.util.Vector"/>
        </all>
      </complexType>
      <complexType name="uk_ac_ebi_cdb_bean_JournalIssue">
        <all>
          <element name="dateOfPublication" type="xsd:string"/>
          <element name="id" type="xsd:double"/>
          <element name="issue" type="xsd:string"/>
          <element name="journal" type="tns:uk_ac_ebi_cdb_bean_Journal"/>
          <element name="monthOfPublication" type="xsd:double"/>
          <element name="volume" type="xsd:string"/>
          <element name="yearOfPublication" type="xsd:double"/>
        </all>
      </complexType>
      <complexType name="uk_ac_ebi_cdb_bean_Journal">
        <all>
          <element name="ESSN" type="xsd:string"/>
          <element name="ISOAbbreviation" type="xsd:string"/>
          <element name="ISSN" type="xsd:string"/>
          <element name="NLMid" type="xsd:string"/>
          <element name="id" type="xsd:double"/>
          <element name="medlineAbbreviation" type="xsd:string"/>
          <element name="title" type="xsd:string"/>
        </all>
      </complexType>
      <complexType name="uk_ac_ebi_cdb_bean_MedlineXml">
        <all>
          <element name="XML" type="xsd:string"/>
          <element name="dataSource" type="xsd:string"/>
          <element name="pubmedID" type="xsd:string"/>
        </all>
      </complexType>
      <complexType name="uk_ac_ebi_cdb_bean_PatentAbstractXml">
        <all>
          <element name="XML" type="xsd:string"/>
          <element name="dataSource" type="xsd:string"/>
          <element name="patentNumber" type="xsd:string"/>
        </all>
      </complexType>
      <complexType name="uk_ac_ebi_cdb_bean_PatentDetails">
        <all>
          <element name="citationId" type="xsd:double"/>
          <element name="classifierCollection" type="java:java.util.Vector"/>
          <element name="country" type="xsd:string"/>
          <element name="countryCode" type="xsd:string"/>
          <element name="patentDetailId" type="xsd:double"/>
          <element name="secondaryNumberCollection" type="java:java.util.Vector"/>
          <element name="typeCode" type="xsd:string"/>
          <element name="typeDescription" type="xsd:string"/>
        </all>
      </complexType>
      <complexType name="ArrayOfUk_ac_ebi_cdb_bean_Citation">
        <complexContent>
          <restriction base="soapenc:Array">
            <attribute ref="soapenc:arrayType" wsdl:arrayType="tns:uk_ac_ebi_cdb_bean_Citation[]"/>
          </restriction>
        </complexContent>
      </complexType>
      <complexType name="ArrayOfString">
        <complexContent>
          <restriction base="soapenc:Array">
            <attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:string[]"/>
          </restriction>
        </complexContent>
      </complexType>
      <complexType name="uk_ac_ebi_cdb_bean_Author">
        <all>
          <element name="citationId" type="xsd:double"/>
          <element name="collectiveName" type="xsd:string"/>
          <element name="initials" type="xsd:string"/>
          <element name="initialsNonAscii" type="xsd:string"/>
          <element name="lastName" type="xsd:string"/>
          <element name="lastNameNonAscii" type="xsd:string"/>
          <element name="orderIn" type="xsd:double"/>
          <element name="suffix" type="xsd:string"/>
          <element name="suffixNonAscii" type="xsd:string"/>
          <element name="valid" type="xsd:string"/>
        </all>
      </complexType>
      <complexType name="uk_ac_ebi_cdb_bean_AuthorsConcatenation">
        <all>
          <element name="authorsConcatenation" type="xsd:string"/>
          <element name="authorsConcatenation_clob" type="xsd:string"/>
          <element name="citationId" type="xsd:double"/>
          <element name="hasNonAsciiCharacters" type="xsd:string"/>
          <element name="validAuthorsConcatenation" type="xsd:string"/>
          <element name="validAuthorsConcatenation_clob" type="xsd:string"/>
        </all>
      </complexType>
      <complexType name="uk_ac_ebi_cdb_bean_Chemical">
        <all>
          <element name="id" type="xsd:double"/>
          <element name="name" type="xsd:string"/>
          <element name="registryNumber" type="xsd:string"/>
        </all>
      </complexType>
      <complexType name="uk_ac_ebi_cdb_bean_MeshHeading">
        <all>
          <element name="citationId" type="xsd:double"/>
          <element name="majorTopic_YN" type="xsd:string"/>
          <element name="meshHeadingType" type="tns:uk_ac_ebi_cdb_bean_MeshHeadingType"/>
          <element name="meshQualifierCollection" type="java:java.util.Vector"/>
        </all>
      </complexType>
      <complexType name="uk_ac_ebi_cdb_bean_MeshHeadingType">
        <all>
          <element name="descriptor" type="xsd:string"/>
          <element name="id" type="xsd:double"/>
        </all>
      </complexType>
      <complexType name="uk_ac_ebi_cdb_bean_MeshQualifier">
        <all>
          <element name="majorTopic_YN" type="xsd:string"/>
          <element name="meshQualifierType" type="tns:uk_ac_ebi_cdb_bean_MeshQualifierType"/>
        </all>
      </complexType>
      <complexType name="uk_ac_ebi_cdb_bean_MeshQualifierType">
        <all>
          <element name="abbreviation" type="xsd:string"/>
          <element name="id" type="xsd:string"/>
          <element name="qualifier" type="xsd:string"/>
        </all>
      </complexType>
      <complexType name="uk_ac_ebi_cdb_bean_PublicationType">
        <all>
          <element name="id" type="xsd:double"/>
          <element name="name" type="xsd:string"/>
        </all>
      </complexType>
      <complexType name="uk_ac_ebi_cdb_bean_SubSet">
        <all>
          <element name="code" type="xsd:string"/>
          <element name="name" type="xsd:string"/>
        </all>
      </complexType>
      <complexType name="uk_ac_ebi_cdb_bean_FullTextURL">
        <all>
          <element name="availability" type="xsd:string"/>
          <element name="availabilityCode" type="xsd:string"/>
          <element name="documentStyle" type="xsd:string"/>
          <element name="externalId" type="xsd:string"/>
          <element name="site" type="xsd:string"/>
          <element name="source" type="xsd:string"/>
          <element name="url" type="xsd:string"/>
        </all>
      </complexType>
      <complexType name="uk_ac_ebi_cdb_bean_SecondaryNumber">
        <all>
          <element name="dataType" type="xsd:string"/>
          <element name="orderIn" type="xsd:double"/>
          <element name="patentDetailId" type="xsd:double"/>
          <element name="value" type="xsd:string"/>
        </all>
      </complexType>
      <complexType name="uk_ac_ebi_cdb_bean_PatentClassifier">
        <all>
          <element name="classification" type="xsd:string"/>
          <element name="classificationType" type="xsd:string"/>
          <element name="hyperlink" type="xsd:string"/>
          <element name="patentDetailId" type="xsd:double"/>
        </all>
      </complexType>
    </schema>
  </types>

  <message name="getAuthorsConcatenationInput">
  </message>
  <message name="searchCitationsLiteOutput">
    <part name="return" type="xsd:string"/>
  </message>
  <message name="getSecondaryNumberInput">
  </message>
  <message name="getFullTextURLInput">
  </message>
  <message name="getPublicationTypeOutput">
    <part name="return" type="xsd1:uk_ac_ebi_cdb_bean_PublicationType"/>
  </message>
  <message name="getSecondaryNumberOutput">
    <part name="return" type="xsd1:uk_ac_ebi_cdb_bean_SecondaryNumber"/>
  </message>
  <message name="getMeshQualifierInput">
  </message>
  <message name="getMeshHeadingOutput">
    <part name="return" type="xsd1:uk_ac_ebi_cdb_bean_MeshHeading"/>
  </message>
  <message name="getChemicalOutput">
    <part name="return" type="xsd1:uk_ac_ebi_cdb_bean_Chemical"/>
  </message>
  <message name="searchCitationsOutput">
    <part name="return" type="xsd1:ArrayOfUk_ac_ebi_cdb_bean_Citation"/>
  </message>
  <message name="getKeywordOutput">
    <part name="return" type="xsd1:uk_ac_ebi_cdb_bean_Keyword"/>
  </message>
  <message name="getSubSetInput">
  </message>
  <message name="getSubSetOutput">
    <part name="return" type="xsd1:uk_ac_ebi_cdb_bean_SubSet"/>
  </message>
  <message name="getCitationOutput">
    <part name="return" type="xsd1:uk_ac_ebi_cdb_bean_Citation"/>
  </message>
  <message name="getFullTextURLOutput">
    <part name="return" type="xsd1:uk_ac_ebi_cdb_bean_FullTextURL"/>
  </message>
  <message name="getMedlineCitationInput">
    <part name="param0" type="xsd:int"/>
  </message>
  <message name="getMeshQualifierOutput">
    <part name="return" type="xsd1:uk_ac_ebi_cdb_bean_MeshQualifier"/>
  </message>
  <message name="getPublicationTypeInput">
  </message>
  <message name="searchCitationsInput">
    <part name="param0" type="xsd:string"/>
    <part name="param1" type="xsd:string"/>
    <part name="param2" type="xsd:string"/>
  </message>
  <message name="getKeywordInput">
  </message>
  <message name="getAuthorOutput">
    <part name="return" type="xsd1:uk_ac_ebi_cdb_bean_Author"/>
  </message>
  <message name="getCitationSetOutput">
    <part name="return" type="xsd1:ArrayOfUk_ac_ebi_cdb_bean_Citation"/>
  </message>
  <message name="getMedlineCitationOutput">
    <part name="return" type="xsd1:uk_ac_ebi_cdb_bean_Citation"/>
  </message>
  <message name="getPatentClassifierInput">
  </message>
  <message name="getMeshHeadingInput">
  </message>
  <message name="getAuthorsConcatenationOutput">
    <part name="return" type="xsd1:uk_ac_ebi_cdb_bean_AuthorsConcatenation"/>
  </message>
  <message name="getCitationInput">
    <part name="param0" type="xsd:string"/>
    <part name="param1" type="xsd:string"/>
  </message>
  <message name="searchCitationsLiteInput">
    <part name="param0" type="xsd:string"/>
    <part name="param1" type="xsd:string"/>
    <part name="param2" type="xsd:string"/>
  </message>
  <message name="getPatentClassifierOutput">
    <part name="return" type="xsd1:uk_ac_ebi_cdb_bean_PatentClassifier"/>
  </message>
  <message name="getAuthorInput">
  </message>
  <message name="getCitationSetInput">
    <part name="param0" type="xsd:string"/>
    <part name="param1" type="xsd1:ArrayOfString"/>
  </message>
  <message name="getChemicalInput">
  </message>

  <portType name="WSCitationPortType">
    <operation name="getChemical">
      <input message="tns:getChemicalInput"/>
      <output message="tns:getChemicalOutput"/>
    </operation>
    <operation name="getAuthorsConcatenation">
      <input message="tns:getAuthorsConcatenationInput"/>
      <output message="tns:getAuthorsConcatenationOutput"/>
    </operation>
    <operation name="searchCitations">
      <input message="tns:searchCitationsInput"/>
      <output message="tns:searchCitationsOutput"/>
    </operation>
    <operation name="getCitation">
      <input message="tns:getCitationInput"/>
      <output message="tns:getCitationOutput"/>
    </operation>
    <operation name="getCitationSet">
      <input message="tns:getCitationSetInput"/>
      <output message="tns:getCitationSetOutput"/>
    </operation>
    <operation name="getPatentClassifier">
      <input message="tns:getPatentClassifierInput"/>
      <output message="tns:getPatentClassifierOutput"/>
    </operation>
    <operation name="searchCitationsLite">
      <input message="tns:searchCitationsLiteInput"/>
      <output message="tns:searchCitationsLiteOutput"/>
    </operation>
    <operation name="getMeshQualifier">
      <input message="tns:getMeshQualifierInput"/>
      <output message="tns:getMeshQualifierOutput"/>
    </operation>
    <operation name="getSubSet">
      <input message="tns:getSubSetInput"/>
      <output message="tns:getSubSetOutput"/>
    </operation>
    <operation name="getMedlineCitation">
      <input message="tns:getMedlineCitationInput"/>
      <output message="tns:getMedlineCitationOutput"/>
    </operation>
    <operation name="getMeshHeading">
      <input message="tns:getMeshHeadingInput"/>
      <output message="tns:getMeshHeadingOutput"/>
    </operation>
    <operation name="getAuthor">
      <input message="tns:getAuthorInput"/>
      <output message="tns:getAuthorOutput"/>
    </operation>
    <operation name="getFullTextURL">
      <input message="tns:getFullTextURLInput"/>
      <output message="tns:getFullTextURLOutput"/>
    </operation>
    <operation name="getKeyword">
      <input message="tns:getKeywordInput"/>
      <output message="tns:getKeywordOutput"/>
    </operation>
    <operation name="getPublicationType">
      <input message="tns:getPublicationTypeInput"/>
      <output message="tns:getPublicationTypeOutput"/>
    </operation>
    <operation name="getSecondaryNumber">
      <input message="tns:getSecondaryNumberInput"/>
      <output message="tns:getSecondaryNumberOutput"/>
    </operation>
  </portType>

  <binding name="WSCitationBinding" type="tns:WSCitationPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="getChemical">
      <soap:operation soapAction="urn:uk-ac-ebi-cdb-webservice-WSCitation/getChemical"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uk-ac-ebi-cdb-webservice-WSCitation"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uk-ac-ebi-cdb-webservice-WSCitation"/>
      </output>
    </operation>
    <operation name="getAuthorsConcatenation">
      <soap:operation soapAction="urn:uk-ac-ebi-cdb-webservice-WSCitation/getAuthorsConcatenation"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uk-ac-ebi-cdb-webservice-WSCitation"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uk-ac-ebi-cdb-webservice-WSCitation"/>
      </output>
    </operation>
    <operation name="searchCitations">
      <soap:operation soapAction="urn:uk-ac-ebi-cdb-webservice-WSCitation/searchCitations"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uk-ac-ebi-cdb-webservice-WSCitation"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uk-ac-ebi-cdb-webservice-WSCitation"/>
      </output>
    </operation>
    <operation name="getCitation">
      <soap:operation soapAction="urn:uk-ac-ebi-cdb-webservice-WSCitation/getCitation"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uk-ac-ebi-cdb-webservice-WSCitation"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uk-ac-ebi-cdb-webservice-WSCitation"/>
      </output>
    </operation>
    <operation name="getCitationSet">
      <soap:operation soapAction="urn:uk-ac-ebi-cdb-webservice-WSCitation/getCitationSet"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uk-ac-ebi-cdb-webservice-WSCitation"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uk-ac-ebi-cdb-webservice-WSCitation"/>
      </output>
    </operation>
    <operation name="getPatentClassifier">
      <soap:operation soapAction="urn:uk-ac-ebi-cdb-webservice-WSCitation/getPatentClassifier"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uk-ac-ebi-cdb-webservice-WSCitation"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uk-ac-ebi-cdb-webservice-WSCitation"/>
      </output>
    </operation>
    <operation name="searchCitationsLite">
      <soap:operation soapAction="urn:uk-ac-ebi-cdb-webservice-WSCitation/searchCitationsLite"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uk-ac-ebi-cdb-webservice-WSCitation"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uk-ac-ebi-cdb-webservice-WSCitation"/>
      </output>
    </operation>
    <operation name="getMeshQualifier">
      <soap:operation soapAction="urn:uk-ac-ebi-cdb-webservice-WSCitation/getMeshQualifier"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uk-ac-ebi-cdb-webservice-WSCitation"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uk-ac-ebi-cdb-webservice-WSCitation"/>
      </output>
    </operation>
    <operation name="getSubSet">
      <soap:operation soapAction="urn:uk-ac-ebi-cdb-webservice-WSCitation/getSubSet"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uk-ac-ebi-cdb-webservice-WSCitation"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uk-ac-ebi-cdb-webservice-WSCitation"/>
      </output>
    </operation>
    <operation name="getMedlineCitation">
      <soap:operation soapAction="urn:uk-ac-ebi-cdb-webservice-WSCitation/getMedlineCitation"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uk-ac-ebi-cdb-webservice-WSCitation"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uk-ac-ebi-cdb-webservice-WSCitation"/>
      </output>
    </operation>
    <operation name="getMeshHeading">
      <soap:operation soapAction="urn:uk-ac-ebi-cdb-webservice-WSCitation/getMeshHeading"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uk-ac-ebi-cdb-webservice-WSCitation"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uk-ac-ebi-cdb-webservice-WSCitation"/>
      </output>
    </operation>
    <operation name="getAuthor">
      <soap:operation soapAction="urn:uk-ac-ebi-cdb-webservice-WSCitation/getAuthor"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uk-ac-ebi-cdb-webservice-WSCitation"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uk-ac-ebi-cdb-webservice-WSCitation"/>
      </output>
    </operation>
    <operation name="getFullTextURL">
      <soap:operation soapAction="urn:uk-ac-ebi-cdb-webservice-WSCitation/getFullTextURL"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uk-ac-ebi-cdb-webservice-WSCitation"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uk-ac-ebi-cdb-webservice-WSCitation"/>
      </output>
    </operation>
    <operation name="getKeyword">
      <soap:operation soapAction="urn:uk-ac-ebi-cdb-webservice-WSCitation/getKeyword"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uk-ac-ebi-cdb-webservice-WSCitation"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uk-ac-ebi-cdb-webservice-WSCitation"/>
      </output>
    </operation>
    <operation name="getPublicationType">
      <soap:operation soapAction="urn:uk-ac-ebi-cdb-webservice-WSCitation/getPublicationType"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uk-ac-ebi-cdb-webservice-WSCitation"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uk-ac-ebi-cdb-webservice-WSCitation"/>
      </output>
    </operation>
    <operation name="getSecondaryNumber">
      <soap:operation soapAction="urn:uk-ac-ebi-cdb-webservice-WSCitation/getSecondaryNumber"/>
      <input>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uk-ac-ebi-cdb-webservice-WSCitation"/>
      </input>
      <output>
        <soap:body use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:uk-ac-ebi-cdb-webservice-WSCitation"/>
      </output>
    </operation>
  </binding>

  <service name="WSCitation">
    <port name="WSCitationPort" binding="tns:WSCitationBinding">
      <soap:address location="http://www.ebi.ac.uk/citations/webservices"/>
    </port>
  </service>


</definitions>
