repo/sanity/trunk/intact-sanity-commons/src/main/resources/META-INF/services/sanityrules-1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified">
  <xs:element name="declared-rules">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="1" maxOccurs="unbounded" ref="declared-rule"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="declared-rule">
    <xs:complexType>
      <xs:sequence>
          <xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1"/>
          <xs:element name="class" type="xs:string" minOccurs="1" maxOccurs="1"/>
          <xs:element name="target-class" type="xs:string" minOccurs="1" maxOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  
</xs:schema>
