trunk/intactCore/jsp/hierarchView/tulip/scripts/tulip.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="urn:tulip" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:SOAP-ENC="http://schemas.xmlsoap.org/soap/encoding/" xmlns:impl="urn:tulip-impl" xmlns:intf="urn:tulip" xmlns:tns1="urn:uk.ac.ebi.intact.application.hierarchView.business.tulip.webService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
 <types>
  <schema targetNamespace="urn:uk.ac.ebi.intact.application.hierarchView.business.tulip.webService" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="ProteinCoordinate">
    <sequence>
     <element name="id" type="xsd:int"/>
     <element name="x" type="xsd:float"/>
     <element name="y" type="xsd:float"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="urn:tulip" xmlns="http://www.w3.org/2001/XMLSchema">
   <complexType name="ArrayOf_tns1_ProteinCoordinate">
    <complexContent>
     <restriction base="SOAP-ENC:Array">
      <attribute ref="SOAP-ENC:arrayType" wsdl:arrayType="tns1:ProteinCoordinate[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <element name="ArrayOf_tns1_ProteinCoordinate" nillable="true" type="intf:ArrayOf_tns1_ProteinCoordinate"/>
  </schema>
 </types>

   <wsdl:message name="getComputedTlpContentRequest">

      <wsdl:part name="in0" type="SOAP-ENC:string"/>

      <wsdl:part name="in1" type="SOAP-ENC:string"/>

   </wsdl:message>

   <wsdl:message name="getComputedTlpContentResponse">

      <wsdl:part name="return" type="intf:ArrayOf_tns1_ProteinCoordinate"/>

   </wsdl:message>

   <wsdl:portType name="TulipAccess">

      <wsdl:operation name="getComputedTlpContent" parameterOrder="in0 in1">

         <wsdl:input message="intf:getComputedTlpContentRequest"/>

         <wsdl:output message="intf:getComputedTlpContentResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="tulipSoapBinding" type="intf:TulipAccess">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getComputedTlpContent">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="getComputedTlpContent" use="encoded"/>

         </wsdl:input>

         <wsdl:output>

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="urn:tulip" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TulipAccessService">

      <wsdl:port binding="intf:tulipSoapBinding" name="tulip">

         <wsdlsoap:address location="http://arafel:8080/axis/services/tulip"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
